<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <link rel="stylesheet" href="/stylesheets/games.css" />
  </head>
  <body>
    <h1>Games</h1>
    <div>
      <ul>
        <li><a href="/game/snake">Snake</a></li>
        <li><a href="/game/bomberman">Bomberman</a></li>
      </ul>
    </div>
  </body>
</html>